.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 23px;
}

.catalog-item {
  flex-basis: calc((100%-46px) / 3);
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 368px;
  height: 414px;
  background-color: #f3f3f3;
  padding: 24px 32px;
}

.catalog-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
}

.catalog-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #0c0c0c;
  letter-spacing: -0.02em;
}

.catalog-text {
  font-weight: 400;
  line-height: 1.28571;
  color: rgba(12, 12, 12, 0.5);
}
