.section-hero {
  padding-top: 80px;
}
.hero-wraper {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.hero-wraper-text {
  width: 607px;
}

.hero-wraper-scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-reviews {
  display: flex;
}

.hero-reviews-item:not(:last-child) {
  margin-right: -15px;
}

.hero-title {
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  color: #0c0c0c;
}

.hero-title-accent {
  color: #3350e9;
}

.hero-text {
  width: 480px;

  font-size: 16px;
  line-height: 1.25;
}

.hero-scroll-down {
  font-size: 20px;
  line-height: 1;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.hero-scroll-down:hover, .hero-scroll-down:focus {
  color: #3350e9;
}